* {
  /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Allison', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive; 
  */
  font-family: 'Hina Mincho', serif;
}

body {
  margin: 0;
}